---
layout: default
title: 404 - Page not found
permalink: /404.html
---

<div class="text-center">
  <img src="{{ 'assets/img/404.jpeg' | relative_url }}" alt="Not found" />

  <br/>

  <h2>Whoops, this page doesn't exist.</h2>
</div>
